<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Todos</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://www.youtube.com/watch?v=8bE_PBRriyU&list=PLqKQF2ojwm3nskLXLYIIAgoy2JoACR6eG&index=7">33:00</a></li>

      <li class="{{#if isIndex}}active{{/if}}"><a href="/">Todos</a></li>

      <li class="{{#if isCreate}}active{{/if}}"><a href="/create">Create</a></li>
    </ul>
  </div>
</nav>