<h2>Todos page</h2>

{{#if todos.length}}
  <ul>
    {{#each todos}}
      <li class="todo">
        <form action="/complete" method="POST">
          <label>
            <input type="checkbox" {{#if completed}}checked{{/if}} name="completed">
            <span {{#if completed}}class="completed" {{/if}}>{{title}}</span>

            <input type="hidden" value="{{_id}}" name="id">

            <div>
              <button class="btn btn-small" type="submit">Save</button>
              <button class="waves-effect btn btn-small deep-orange lighten-2 todo__remove">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </label>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No todos!</p>
{{/if}}